{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Enter your GroupMe Secret Key{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>To access your GroupMe stats you must enter your user-specific API key.<br>
  Go to <a href="https://dev.groupme.com/">dev.groupme.com</a> and click "Access Token" in the top right.<br>
  Log in and copy your token into the form below.<br>
    <br>
  <strong>Note: This key can control GroupMe posts and behavior. Do not share it.
  This site will not save your key in any way.</strong></p>

  <form method="post">
    <label for="key">Secret Key</label>
    <input name="key" id="key" required>
    <input type="submit" value="Submit">
  </form>
{% endblock %}